<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin id="rhstudio" name="rhstudio Visual Programming Platform" provider-name="rhstudio Software Ltd." version="2.1.8.2">

   <runtime>
      <library name="rhstudio.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension-point id="modelLibraries" name="Model Libraries" schema="schema/modelLibraries.exsd"/>
   <extension-point id="palette" name="Palette Configuration" schema="schema/palette.exsd"/>
   <extension-point id="extensionClasses" name="Extension Classes" schema="schema/extensionClasses.exsd"/>

   <extension id="studio" point="org.eclipse.core.runtime.products">
      <product application="org.eclipse.ui.ide.workbench" description="%productBlurb" name="rhstudio Studio">
         <property name="windowImages" value="rhstudio.gif,rhstudio32.gif">
         </property>
         <property name="aboutImage" value="rhstudio_lg.bmp">
         </property>
         <property name="aboutText" value="%productBlurb">
         </property>
         <property name="appName" value="rhstudio Studio">
         </property>
         <property name="preferenceCustomization" value="plugin_customization.ini">
         </property>
         <property name="startupForegroundColor" value="000000"/>
         <property name="startupProgressRect" value="5,275,502,15"/>
         <property name="startupMessageRect" value="7,252,498,20"/>
      </product>
   </extension>
   <extension point="org.eclipse.ui.intro">
      <intro class="org.eclipse.ui.intro.config.CustomizableIntroPart" icon="book_go.png" id="rhstudio.studio.intro" label="Welcome">
      </intro>
      <introProductBinding introId="rhstudio.studio.intro" productId="rhstudio.studio">
      </introProductBinding>
   </extension>
   <extension id="intro" point="org.eclipse.ui.intro.config">
      <config content="intro.xml" id="rhstudio.studio.intro.config" introId="rhstudio.studio.intro">
         <presentation home-page-id="home" standby-page-id="home">
            <implementation kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
